body {
	background-image: url("ResumePaper.jpg");
	font-family: "Times New Roman", arial, Helvetica;
}

header {
	text-align: center;
	font-size: 20px;
}

.Head2 h2{
	text-align: center;
	text-decoration: none;
}

.Margin {
	margin-left: 250px;
	margin-right: 250px;
}

.Year {
	float: right;
	font-size: 19px;
	font-weight: bold;
}

.block-Year {
	display: block;
}

ul li {
	font-size: 18px;
}

a:hover {
	text-decoration: none;
	color: red;
}

h2 {
	text-decoration: underline;
}
